body{
    height:100vh;
    width: 100vw;
    background-color: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    color: rgb(28, 170, 92);
    font-size: 1.5rem;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(28, 170, 92);

}

#header{
    text-align: center;
    width: 90%;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(28, 170, 92);
    background-color: rgb(165, 236, 194);
    text-transform: uppercase;
}

#post{
    width: 80%;
    padding: 1rem;
}